* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/* Includes my header and navigation */

.header {
    background-color: #333;
    color: #ffffff;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.festivals-header {
    position: absolute;
    font-size: 50px;
    margin-bottom: 150px;
}

.background {
    height: 92vh;
    background-color: black;
    color: white;
    position: relative;
}

.background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-image: url("../images/HQ+landscape+ducks+dawn.jpeg");
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    background-attachment: fixed;
}

.background h1 {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background h1 span {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    top: 49%;
}


/* Responsive navigation */

.nav-bar {
    position: relative;
    /* Font for the navigation Lato */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 6vh;
}

.nav-title {
    /* Font for the navigation Lato */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav-bar li {
    float: left;
    padding: 14px 16px;
}

ul.nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

ul.nav-bar li a:hover:not(.active) {
    color: rgba(67, 67, 67, 0.294);
}

.active {
    color: #aa0404;
}

@media screen and (max-width: 600px) {
    ul.nav-bar li.right,
    ul.nav-bar li {
        float: none;
    }
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


/* To center the welcome message in inex.html */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Festival images */

.left {
    float: left;
}

.right {
    float: right;
}

.festival-image {
    width: 60%;
    height: auto;
    background-color: red;
}

.festival-caption {
    width: 40%;
    height: auto;
    background-color: blue;
}